
<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>

<style>
    .carta:hover {
        background-color: #4cc9f0;
        -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
        box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
    }
</style>

<div class="container">
    <br>
    <h3> Hi <%=user.name%>!</h3>
    <!-- <h5> ID: <%=user.id%></h5> -->

    <% if (user.id == '62ac0c8d2cbdfe3c9c4b4f38') { %>
        <h1>All Notes</h1>
        <pre><%= user.id %></pre>
        <a class="btn btn-warning" href="/notes/add">New Note</a>
        <!-- <pre><%= notes %></pre> -->
        <!-- <a href="/notes/add" class="btn btn-info">New item</a>  -->
    <% } %>

    <% if (user.name != 'Guest') { %>
        <div class="m-2">
            <!-- <a href="/notes/order/<%=user.id%>" class="btn btn-success btn-block_ btn-sm_">Ready to order</a> -->
        </div>
    <% } %>

    <div class="row">
        <% notes.forEach(note => { %>
            <div class="col-md-3 p-2">

                <div class="card bg-info carta" id="<%= note._id %>">

                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between align-items-center">
                            <%= note.title %>
                            <% if (user.id == '62ac0c8d2cbdfe3c9c4b4f38') { %>
                                <a href="/note/edit/<%= note._id %> "><i class="fas fa-edit"></i></a>
                            <% } %>
                        </h4>
                    </div>

                    <div class="p-1 m-2">
                        <img
                            <% if (note.path) { %>
                                src="<%= note.path %>"
                            <% } %>
                            <% if (!note.path) { %>
                                src="https://res.cloudinary.com/metacortexjohn/image/upload/v1659980382/Logo_Oogway_r7m6dv.png"
                            <% } %>
                            class="img-fluid rounded-start my-1 card border-primary"
                            alt="Oogway Logo"
                            onclick="window.open('<%= note.path %>');"
                        />
                        <p><%= note.description %></p> 
                    </div>

                    <% if (user.name != 'Guest') { %>
                        <a class="btn btn-success m-4 btn-add" id="<%= note._id %>">add</a>
                    <% } %>

                    <% if (user.id == '62ac0c8d2cbdfe3c9c4b4f38') { %>
                        <form action="/notes/delete/<%=note._id%>?_method=delete" method="post" style="padding: 10px;">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                        </form>
                    <% } %>

                    <!-- <% if (user.name != 'Guest') { %>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="How many?" aria-label="quantity" aria-describedby="btnAdd">
                            <button class="btn btn-success" type="button" id="btnAdd">Add</button>
                        </div>
                    <% } %> -->

                </div>
            </div>
        <% }) %> 
        
        <% if (user.name != 'Guest') { %>
            <div class="card text-center">
                <div class="card-header">Shopping Cart</div>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <table class="table table-success table-striped" id="table-cart">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">ID</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                    <a href="/notes" class="btn btn-success" id="btnCheckOut">Check Out</a>
                    <a href="/notes" class="btn btn-danger" id="btnEmptyCar">Empty my cart</a>
                </div>
                <!-- <div class="card-footer text-muted">2 days ago</div> -->
            </div>
        <% } %> 

    </div>
</div>



<script>
    if(document.getElementById('btnCheckOut')){
        let btnCheckOut = document.getElementById('btnCheckOut')
        btnCheckOut.hidden = true
    }
    if(document.getElementById('btnEmptyCar')){
        let btnEmptyCar = document.getElementById('btnEmptyCar')
        btnEmptyCar.hidden = true
    } 

    let carrito = []
    let item = {}
    const container = document.querySelector(".row");
    container.addEventListener("click", (e) => {
        //console.log(e.target.classList.contains('btn-add')) 

        //Agregar al carrito
        if (e.target.classList.contains("btn-add")) {
            let itemId = e.target.id
            let cartas = document.getElementsByClassName('carta')
            for (let i = 0; i < cartas.length; i++) {
                if (cartas[i].id == itemId){
                    let itemName = cartas[i].getElementsByClassName('card-body')[0].innerText
                    item.id = itemId
                    item.name = itemName
                    item.qty = 1
                    let existe = 0
                    for (let ii = 0; ii < carrito.length; ii++) {
                        if(carrito[ii].id == item.id){
                            existe = 1
                            console.log('Item is already in the cart')
                        }
                    }
                    if(existe == 0){
                        carrito.push(item)
                        item = {}
                    }                    
                }
            }
            drawCart(carrito)
        }

        //Quitar del carrito
        if (e.target.classList.contains("btn-remove")) {
            let rowId = Number(e.target.id)
            carrito.forEach(item => {
                if(item.id == carrito[rowId].id){
                    carrito.splice(rowId,1)
                    drawCart(carrito)
                }
            });
        }

        e.stopPropagation()
    })


    function drawCart(carrito){
        //console.log(carrito)
        let table = document.getElementById('table-cart')
        while(table.rows.length > 1) {
            table.deleteRow(1);
        }
        for (let i = 0; i < carrito.length; i++) {
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            cell1.innerHTML = carrito[i].name
            cell2.innerHTML = carrito[i].id
            cell3.innerHTML = '<input type="number" value=1 min=1>' 
            cell4.innerHTML = '<a class="btn btn-danger btn-remove" id="">Remove</a>'   
            cell4.querySelector('a').setAttribute("id", i) 
        }

        let btnCheckOut = document.getElementById('btnCheckOut')
        let btnEmptyCar = document.getElementById('btnEmptyCar')
        if(table.rows.length > 1){            
            btnCheckOut.hidden = false
            btnEmptyCar.hidden = false
        }else{
            btnCheckOut.hidden = true
            btnEmptyCar.hidden = true
        }
    }
</script>


<%- include ('partials/footer.ejs') %>